@import "@app/styles/mixins";

.subscriptionsSection {
  @include vizual;
  display: flex;
  flex-direction: column;
  width: 95%;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0px 0px 20px;

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;

    .header {
      display: flex;
      align-items: flex-start;
      width: 100%;
      align-items: center;
      margin-bottom: 10px;

      cursor: pointer;

      h2 {
        font-size: 1.2rem;
        margin-right: 10px;
      }

      span {
        font-size: 1rem;
        color: #cccccc;
      }
    }

    .subList {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      margin-top: 10px;
      width: 100%;

      .avatar {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        margin: 0 0.5rem;
        cursor: pointer;
        transition: transform 0.3s ease;
      }

      .subBox {
        display: flex;
        align-items: center;
        padding: 7px;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: #252525;
        }
      }
    }
  }
}
