@import "@app/styles/mixins";

.main {
}

.body {
  display: flex;
  width: 100%;
}
.rightBody {
  width: 100%;
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.music_field {
  @include vizual;
}

.rightSection {
  width: 35vw;
}

.leftSection {
  width: 15vw;

  .UploadBtn {
    @include vizual;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
  }
}
