@import "@app/styles/mixins";

.showMore {
  @include vizual;

  position: absolute;
  padding: 10px;
  border-radius: 10px;

  top: 10%;
  right: 40%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 7px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: rgba(50, 50, 50, 0.7);
  }
}
