.header {
  width: 100%;
  height: 5%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(40, 40, 40, 1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;

  .devider {
    position: absolute;
    margin-top: 3rem;
    width: 100%;
    border: none;
    height: 1px;
    background-color: #555;
  }
}

.logoBage {
  display: flex;
  align-items: center;
  margin: 5px 0px 5px 20%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.vkLogo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.searchContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.inputGroup {
  display: flex;
  align-items: center;

  .inputLeftAddon {
    background-color: #444;
    color: #fff;
    padding: 0.45rem;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
  }

  .searchInput {
    width: 300px;
    padding: 10px;
    height: 80%;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 0 5px 5px 0;
  }
}

.popup {
  position: absolute;
  top: 50px;
  width: calc(100% - 20px);
  height: 50vh;
  right: 32%;
  width: 305px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #555;
}

.avatar {
  background: none;
  display: flex;
  margin-right: 20%;
  padding: 5px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  border: none;
  cursor: pointer;

  &.active {
    background-color: red;
  }

  .avatarButton {
    display: flex;
    align-items: center;
  }

  .avatarPhoto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .dropDownMenu {
    position: absolute;
    content: "";
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 50vh;
    right: 20%;
    background-color: red;
    transition: all 0.5s ease;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      transition: var(--speed) ease;
    }

    &.inactive {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: var(--speed) ease;
    }
  }
}

.dropDownMEnuContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
