.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0px;
}

.userCase {
  display: flex;
  padding: 5px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #252525;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;

  > span {
    margin-left: 10px;
  }
}

.avatars {
  display: flex;
  align-self: center;
  gap: 20px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
