.modalWindow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  background-color: rgba(20, 20, 20, 0.3);
}

.active {
  display: block;
}

.moadlContent {
  width: 100%;
  height: 100%;
}
