.button {
  margin-right: 5px;
  padding: 7px;
  transition: background-color 0.3s;
  border-radius: 10px;
  background-color: rgba(60, 60, 60, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: rgba(70, 70, 70, 0.9);
  }
}
