@import '@app/styles/mixins';

.userButtonGroup {
  display: flex;

  .tooltip {
    @include vizual;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    font-size: 1rem;
  }
}

.buttonGroup {
  margin: 0px 20px 0px 10px;
  padding: 7px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}
