@import "@app/styles/mixins";

.InputField {
  @include vizual;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2%;
  max-height: fit-content;
  border-radius: 10px;

  margin: 0px 0px 20px 0px;

  > hr {
    margin-left: 10%;
    width: 80%;
  }
}

.inputContainer {
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 15px;
}

.inputImage {
  margin: 5px 5px 5px 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.popoverContent {
  display: flex;
  flex-direction: column;
  margin: 5px;
  > hr {
    margin-left: 10%;
    width: 80%;
  }
}

.popoverButton {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;

  &:hover {
    background-color: rgba(60, 60, 60, 0.9);
  }
}

.inputTextArea {
  color: white;
  background-color: rgba(40, 40, 40, 0.9);
  resize: vertical;
  max-height: 100%;
  outline: none;
  border: none;
  padding: 5px;
}
