@import '@app/styles/mixins';

.friendsSection {
  @include vizual;
  display: flex;
  flex-direction: column;
  width: 95%;
  color: #f1f1f1;
  height: 100%;
  padding: 10px;
  border-radius: 8px;
  margin: 0px 0px 0px 20px;
}

.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0px;
}

.avatars {
  display: flex;
  align-self: center;
  gap: 20px;
}
