.mainContainer {
  width: 100%;
  min-height: 100%;
  max-height: fit-content;
  padding: 0 20px;
  box-sizing: border-box;
}

.mainSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  margin: 20px auto;
}

.right_section {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 20px;
}

.postList {
  width: 100%;
}

.fields {
  width: 100%;
  margin-bottom: 20px;
}

.leftSection {
  width: 40%;
}
