.mainContainer {
  width: 100%;
}

.mainSection {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.postListAndInput {
  width: 100%;
}

.leftSection {
  width: 75%;
  align-self: flex-start;
}
