.mainContainer {
  width: 100%;
}

.mainSection {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 20px auto;
}

.postList {
  width: 100%;
}

.fields {
  width: 100%;
}

.leftSection {
  width: 40%;
  align-self: flex-start;
}
