@import "@app/styles/mixins";

.post {
  @include vizual;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  margin: 16px auto;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuButton {
  position: relative;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
}

.actionButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  margin-right: 16px;
}

.actionButton span {
  margin-left: 8px;
}
