@import "@app/styles/mixins";

.player {
  @include vizual;
  position: fixed;
  bottom: 3%;
  left: 45%;
  transform: translateX(-50%);
  margin-left: 5%;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;

  > h5 {
    margin-left: 5px;
  }

  .ImageCover {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .leftSection,
  .centerSection,
  .rightSection {
    display: flex;
    align-items: center;
  }

  .leftSection {
    width: 30%;
    justify-content: flex-start;

    button {
      margin-right: 10px;
      background: none;
      border: none;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .centerSection {
    flex: 2;
    align-items: center;
    justify-self: flex-start;

    button {
      margin-right: 10px;
      cursor: pointer;
    }

    .centerRange {
      display: flex;
      width: 80%; /* Обеспечивает полную ширину */
      margin: 5px 0;

      input[type="range"] {
        width: 100%; /* Растягивает range элемент */
      }
    }

    .rightSection {
      flex: 1;
      justify-content: flex-end;
      position: relative; /* Относительное позиционирование для родителя */

      button {
        background: none;
        border: none;
        color: #ffffff;
        cursor: pointer;
        z-index: 1; /* Разместите кнопку над слайдером */
      }
    }
  }
}

// .rightSection {
//   width: 20%;
//   right: 10px;
//   position: absolute;
//   justify-content: flex-end;

//   button {
//     cursor: pointer;
//   }

//   .verticalSlider {
//     position: relative;
//     transform: rotate(-90deg);
//   }
// }
