@import "@app/styles/mixins";

.header {
  @include vizual;
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.userInfoMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .userInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.buttonGroup {
  margin: 0px 20px 0px 10px;
  padding: 7px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
}

.userButtonGroup {
  display: flex;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.status {
  font-size: 16px;
  margin: 5px 0;
}

.moreLink {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: gray;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
