@import "@app/styles/mixins";

.main {
  @include vizual;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}

.devider {
  height: 1rem;
  width: 2px;
  margin: 10px;
  border: none;
  background-color: white;
  background-color: rgba(80, 80, 80, 0.9);
}
